# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average* per year of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

In [182]:
import os
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt

%matplotlib inline

DATA_FOLDER = os.path.join(os.path.dirname(os.getcwd()),'ADA2017-Tutorials-master','02 - Intro to Pandas','Data') # Use the data folder provided in Tutorial 02 - Intro to Pandas.
EBOLA_FOLDER= os.path.join(DATA_FOLDER, 'ebola')

#countries=['sl_data', 'guinea_data','liberia_data']

# Sierra Leone

In [210]:
#Sierra Leone
sl='sl_data'
files=os.listdir(os.path.join(EBOLA_FOLDER, sl))
sl_df=pd.read_csv(os.path.join(EBOLA_FOLDER, sl,files[0]))        
for file in files[1:-1]:   
    sl_df = sl_df.append(pd.read_csv(os.path.join(EBOLA_FOLDER, sl, file)), ignore_index=True)

# convert to datetime format
sl_df['date'] = pd.to_datetime(sl_df['date'])
    
#change columns names data -> Date ,variable -> Variable
sl_df.rename(columns={'date': 'Date', 'variable': 'Variable', 'National': 'Total Sierra Leone'}, inplace=True)

#change order index Date, Variable, Country first
sl_df = sl_df.reindex_axis(['Date','Variable','Total Sierra Leone'] + list([a for a in sl_df.columns if a != 'Date' and a!= 'Variable' and a!= 'Total Sierra Leone']), axis=1)
sl_df = sl_df.set_index(['Date','Variable'])
sl_df = pd.concat([sl_df], axis=1, keys=['Sierra Leone'])

# Guinea

In [211]:
#Guinea
gn='guinea_data'
files=os.listdir(os.path.join(EBOLA_FOLDER, gn))
gn_df=pd.read_csv(os.path.join(EBOLA_FOLDER, gn,files[0]))           
for file in files[1:-1]:   
    gn_df = gn_df.append(pd.read_csv(os.path.join(EBOLA_FOLDER, gn, file)), ignore_index=True)

# convert to datetime format
gn_df['Date'] = pd.to_datetime(gn_df['Date'])

#change columns names data -> Date ,variable -> Variable
gn_df.rename(columns={'date': 'Date', 'Description': 'Variable', 'Totals':'Total Guinea'}, inplace=True)

#change order index Date, Variable, Country first
gn_df = gn_df.reindex_axis(['Date','Variable','Total Guinea'] + list([a for a in gn_df.columns if a != 'Date' and a!= 'Variable' and a!= 'Total Guinea']), axis=1)
gn_df = gn_df.set_index(['Date','Variable'])
gn_df = pd.concat([gn_df], axis=1, keys=['Guinea'])

# Liberia

In [212]:
#Liberia
lb='liberia_data'
files=os.listdir(os.path.join(EBOLA_FOLDER, lb))
lb_df=pd.read_csv(os.path.join(EBOLA_FOLDER, lb,files[0]))           
for file in files[1:-1]:   
    lb_df = lb_df.append(pd.read_csv(os.path.join(EBOLA_FOLDER, lb, file)), ignore_index=True)

# convert to datetime format
lb_df['Date'] = pd.to_datetime(lb_df['Date'])

#print(lb_df['Variable'])

#change columns names data -> Date ,variable -> Variable
lb_df.rename(columns={'date': 'Date', 'variable': 'Variable', 'National': 'Total Liberia'}, inplace=True)

#change order index Date, Variable, Country first
lb_df = lb_df.reindex_axis(['Date','Variable','Total Liberia'] + list([a for a in lb_df.columns if a != 'Date' and a!= 'Variable' and a!= 'Total Liberia']), axis=1)
lb_df = lb_df.set_index(['Date','Variable'])
lb_df = pd.concat([lb_df], axis=1, keys=['Liberia'])

In [214]:
df = pd.concat([sl_df, gn_df, lb_df], axis=0)
df.tail()

                                                              Guinea        \
                                                               Beyla Boffa
Date       Variable
2014-12-08 Total probable cases                                  NaN   NaN
           Total confirmed cases                                 NaN   NaN
           Total Number of Confirmed Cases \n of Sierra Le...    NaN   NaN
           Total Number of Confirmed Cases \n of Guinean N...    NaN   NaN
           Cumulative confirmed, probable and suspected cases    NaN   NaN

                                                                             \
                                                              Conakry Coyah
Date       Variable
2014-12-08 Total probable cases                                   NaN   NaN
           Total confirmed cases                                  NaN   NaN
           Total Number of Confirmed Cases \n of Sierra Le...     NaN   NaN
           Total Number of Confirmed Cases \n of Guinean N...     NaN   NaN
           Cumulative confirmed, probable and suspected cases     NaN   NaN

                                                                             \
                                                              Dabola Dalaba
Date       Variable
2014-12-08 Total probable cases                                  NaN    NaN
           Total confirmed cases                                 NaN    NaN
           Total Number of Confirmed Cases \n of Sierra Le...    NaN    NaN
           Total Number of Confirmed Cases \n of Guinean N...    NaN    NaN
           Cumulative confirmed, probable and suspected cases    NaN    NaN

                                                                          \
                                                              Dinguiraye
Date       Variable
2014-12-08 Total probable cases                                      NaN
           Total confirmed cases                                     NaN
           Total Number of Confirmed Cases \n of Sierra Le...        NaN
           Total Number of Confirmed Cases \n of Guinean N...        NaN
           Cumulative confirmed, probable and suspected cases        NaN

                                                                       \
                                                              Dubreka
Date       Variable
2014-12-08 Total probable cases                                   NaN
           Total confirmed cases                                  NaN
           Total Number of Confirmed Cases \n of Sierra Le...     NaN
           Total Number of Confirmed Cases \n of Guinean N...     NaN
           Cumulative confirmed, probable and suspected cases     NaN

                                                                          \
                                                              Forecariah
Date       Variable
2014-12-08 Total probable cases                                      NaN
           Total confirmed cases                                     NaN
           Total Number of Confirmed Cases \n of Sierra Le...        NaN
           Total Number of Confirmed Cases \n of Guinean N...        NaN
           Cumulative confirmed, probable and suspected cases        NaN

                                                                         \
                                                              Gueckedou
Date       Variable
2014-12-08 Total probable cases                                     NaN
           Total confirmed cases                                    NaN
           Total Number of Confirmed Cases \n of Sierra Le...       NaN
           Total Number of Confirmed Cases \n of Guinean N...       NaN
           Cumulative confirmed, probable and suspected cases       NaN

                                                                     ...          \
                                                                     ...
Date       Variable                                                  ...
2014-12-08 Total probable cases                                      ...
           Total confirmed cases                                     ...
           Total Number of Confirmed Cases \n of Sierra Le...        ...
           Total Number of Confirmed Cases \n of Guinean N...        ...
           Cumulative confirmed, probable and suspected cases        ...

                                                                       Sierra Leone  \
                                                              Police traning School
Date       Variable
2014-12-08 Total probable cases                                                 NaN
           Total confirmed cases                                                NaN
           Total Number of Confirmed Cases \n of Sierra Le...                   NaN
           Total Number of Confirmed Cases \n of Guinean N...                   NaN
           Cumulative confirmed, probable and suspected cases                   NaN

                                                                         \
                                                              Port Loko
Date       Variable
2014-12-08 Total probable cases                                     NaN
           Total confirmed cases                                    NaN
           Total Number of Confirmed Cases \n of Sierra Le...       NaN
           Total Number of Confirmed Cases \n of Guinean N...       NaN
           Cumulative confirmed, probable and suspected cases       NaN

                                                                       \
                                                              Pujehun
Date       Variable
2014-12-08 Total probable cases                                   NaN
           Total confirmed cases                                  NaN
           Total Number of Confirmed Cases \n of Sierra Le...     NaN
           Total Number of Confirmed Cases \n of Guinean N...     NaN
           Cumulative confirmed, probable and suspected cases     NaN

                                                                         \
                                                              Tonkolili
Date       Variable
2014-12-08 Total probable cases                                     NaN
           Total confirmed cases                                    NaN
           Total Number of Confirmed Cases \n of Sierra Le...       NaN
           Total Number of Confirmed Cases \n of Guinean N...       NaN
           Cumulative confirmed, probable and suspected cases       NaN

                                                                                  \
                                                              Total Sierra Leone
Date       Variable
2014-12-08 Total probable cases                                              NaN
           Total confirmed cases                                             NaN
           Total Number of Confirmed Cases \n of Sierra Le...                NaN
           Total Number of Confirmed Cases \n of Guinean N...                NaN
           Cumulative confirmed, probable and suspected cases                NaN

                                                                           \
                                                              Unnamed: 18
Date       Variable
2014-12-08 Total probable cases                                       NaN
           Total confirmed cases                                      NaN
           Total Number of Confirmed Cases \n of Sierra Le...         NaN
           Total Number of Confirmed Cases \n of Guinean N...         NaN
           Cumulative confirmed, probable and suspected cases         NaN

                                                                            \
                                                              Western area
Date       Variable
2014-12-08 Total probable cases                                        NaN
           Total confirmed cases                                       NaN
           Total Number of Confirmed Cases \n of Sierra Le...          NaN
           Total Number of Confirmed Cases \n of Guinean N...          NaN
           Cumulative confirmed, probable and suspected cases          NaN

                                                                                     \
                                                              Western area combined
Date       Variable
2014-12-08 Total probable cases                                                 NaN
           Total confirmed cases                                                NaN
           Total Number of Confirmed Cases \n of Sierra Le...                   NaN
           Total Number of Confirmed Cases \n of Guinean N...                   NaN
           Cumulative confirmed, probable and suspected cases                   NaN

                                                                                  \
                                                              Western area rural
Date       Variable
2014-12-08 Total probable cases                                              NaN
           Total confirmed cases                                             NaN
           Total Number of Confirmed Cases \n of Sierra Le...                NaN
           Total Number of Confirmed Cases \n of Guinean N...                NaN
           Cumulative confirmed, probable and suspected cases                NaN


                                                              Western area urban
Date       Variable
2014-12-08 Total probable cases                                              NaN
           Total confirmed cases                                             NaN
           Total Number of Confirmed Cases \n of Sierra Le...                NaN
           Total Number of Confirmed Cases \n of Guinean N...                NaN
           Cumulative confirmed, probable and suspected cases                NaN

[5 rows x 65 columns]

For now only the rows with the following names are used to calculation : new_confirmed, death_confirmed, New cases of confirmed, New deaths registered today (confirmed), New case/s (confirmed), Newly reported deaths. Since the names of the variables sometimes change overtime, this is not an accurate measure.

In [215]:
# isolate dataframe variables
index = df.index.values
variables = np.array([row[1] for row in index])

# get index for specific variable occurence
idx_new_confirmed = np.where(variables == 'new_confirmed')[0].tolist()

# get values corresponding to selected index
sl_total_new = df[('Sierra Leone','Total Sierra Leone')][idx_new_confirmed].fillna(0).astype(int)

# calculate and print mean
print('Daily average of new cases in Sierra Leone : ', sl_total_new.mean())

idx_death_confirmed = np.where(variables == 'death_confirmed')[0].tolist()
sl_total_death = df[('Sierra Leone','Total Sierra Leone')][idx_death_confirmed].fillna(0).astype(int)
print('Daily average of deaths in Sierra Leone : ', sl_total_death.mean())

idx_nco_confirmed = np.where(variables == 'New cases of confirmed')[0].tolist()
gn_total_new = df[('Guinea','Total Guinea')][idx_nco_confirmed].fillna(0).astype(int)
print('Daily average of new cases in Guinea : ', gn_total_new.mean())

idx_nco_death = np.where(variables == 'New deaths registered today (confirmed)')[0].tolist()
gn_total_death = df[('Guinea','Total Guinea')][idx_nco_death].fillna(0).astype(int)
print('Daily average of deaths in Guinea : ', gn_total_death.mean())

idx_nc_confirmed = np.where(variables == 'New case/s (confirmed)')[0].tolist()
lb_total_new = df[('Liberia','Total Liberia')][idx_nc_confirmed].fillna(0).astype(int)
print('Daily average of new cases in Liberia : ', lb_total_new.mean())

idx_nrd_confirmed = np.where(variables == 'Newly reported deaths')[0].tolist()
lb_total_death = df[('Liberia','Total Liberia')][idx_nrd_confirmed].fillna(0).astype(int)
print('Daily average deaths in Liberia : ', lb_total_death.mean())

Daily average of new cases in Sierra Leone :  42.9215686275
Daily average of deaths in Sierra Leone :  727.852941176
Daily average of new cases in Guinea :  12.8571428571
Daily average of deaths in Guinea :  2.0
Daily average of new cases in Liberia :  148.626262626
Daily average deaths in Liberia :  20.5858585859

# Inconsistencies found in the data

## Sierra Leone
* Negative values in the variable ???.

## Guinea 
* Errors in the accumlative values of the variable **Total cases of confirmed**. The value decreases from 668 to 539 between 26.09.2014 and 30.09.2014 when it is supposed to be accumulative.

In [209]:
idx_tot_confirmed = np.where(variables == 'Total deaths of confirmed')[0].tolist()
gn_total_con = df[('Guinea','Total Guinea')][idx_tot_confirmed].fillna(0).astype(int)
gn_total_con.tail(10)

Date        Variable
2014-09-14  Total deaths of confirmed    429
2014-09-16  Total deaths of confirmed    442
2014-09-17  Total deaths of confirmed    442
2014-09-19  Total deaths of confirmed    463
2014-09-21  Total deaths of confirmed    465
2014-09-22  Total deaths of confirmed    468
2014-09-23  Total deaths of confirmed    476
2014-09-24  Total deaths of confirmed    481
2014-09-26  Total deaths of confirmed    668
2014-09-30  Total deaths of confirmed    539
Name: (Guinea, Total Guinea), dtype: int64

## Liberia 
* Values migth be inverted between the variable **New cases (confirmed)** and the variable **Total confirmed case** for the last seven days. But also between **New cases (suspected/probable)** with **Total suspected/probable cases**.

In [199]:
lb_total_new.tail(10)

Date        Variable
2014-11-29  New case/s (confirmed)      10
2014-11-30  New case/s (confirmed)      10
2014-12-01  New case/s (confirmed)       1
2014-12-02  New case/s (confirmed)       9
2014-12-03  New case/s (confirmed)       0
2014-12-04  New case/s (confirmed)    2867
2014-12-05  New case/s (confirmed)    2867
2014-12-06  New case/s (confirmed)    2869
2014-12-07  New case/s (confirmed)    2869
2014-12-08  New case/s (confirmed)    2927
Name: (Liberia, Total Liberia), dtype: int64

In [200]:
idx_tot_confirmed = np.where(variables == 'Total confirmed cases')[0].tolist()
lb_total_con = df[('Liberia','Total Liberia')][idx_tot_confirmed].fillna(0).astype(int)
lb_total_con.tail(10)

Date        Variable
2014-11-29  Total confirmed cases    2805
2014-11-30  Total confirmed cases    2823
2014-12-01  Total confirmed cases    2823
2014-12-02  Total confirmed cases    2824
2014-12-03  Total confirmed cases    2830
2014-12-04  Total confirmed cases       0
2014-12-05  Total confirmed cases       0
2014-12-06  Total confirmed cases       0
2014-12-07  Total confirmed cases       0
2014-12-08  Total confirmed cases       0
Name: (Liberia, Total Liberia), dtype: int64

In [276]:

index=idx_tot_confirmed[len(idx_tot_confirmed)-5: len(idx_tot_confirmed)]
print(index)
print(index[1])
values=df[('Liberia','Total Liberia')][idx_nc_confirmed][len(idx_nc_confirmed)-5: len(idx_nc_confirmed)].values
print(values)
print(values[1])

for i in range(0,4):
    df.set_value(index[i],('Liberia','Total Liberia'),values[i])

idx_tot_confirmed = np.where(variables == 'Total confirmed cases')[0].tolist()
lb_total_con = df[('Liberia','Total Liberia')][idx_tot_confirmed].fillna(0).astype(int)
lb_total_con.tail(10)
print()

[3759, 3791, 3823, 3855, 3887]
3791
[ 2867.  2867.  2869.  2869.  2927.]
2867.0

/Users/valentine/anaconda/envs/ada/lib/python3.5/site-packages/ipykernel/ipkernel.py:196: PerformanceWarning: indexing past lexsort depth may impact performance.
  res = shell.run_cell(code, store_history=store_history, silent=silent)

TypeError: cannot insert DatetimeIndex with incompatible label

In [201]:
idx_new_suspected = np.where(variables == 'New Case/s (Suspected)')[0].tolist()
lb_new_sus = df[('Liberia','Total Liberia')][idx_new_suspected].fillna(0).astype(int)
lb_new_sus.tail(10)

Date        Variable
2014-11-29  New Case/s (Suspected)       7
2014-11-30  New Case/s (Suspected)       0
2014-12-01  New Case/s (Suspected)      25
2014-12-02  New Case/s (Suspected)      18
2014-12-03  New Case/s (Suspected)       0
2014-12-04  New Case/s (Suspected)    3054
2014-12-05  New Case/s (Suspected)    3056
2014-12-06  New Case/s (Suspected)    3056
2014-12-07  New Case/s (Suspected)    3067
2014-12-08  New Case/s (Suspected)    3054
Name: (Liberia, Total Liberia), dtype: int64

In [202]:
idx_tot_suspected = np.where(variables == 'Total suspected cases')[0].tolist()
lb_total_sus = df[('Liberia','Total Liberia')][idx_tot_suspected].fillna(0).astype(int)
lb_total_sus.tail(10)

Date        Variable
2014-11-29  Total suspected cases    3053
2014-11-30  Total suspected cases    3051
2014-12-01  Total suspected cases    3059
2014-12-02  Total suspected cases    3057
2014-12-03  Total suspected cases    3075
2014-12-04  Total suspected cases       0
2014-12-05  Total suspected cases       0
2014-12-06  Total suspected cases       0
2014-12-07  Total suspected cases       0
2014-12-08  Total suspected cases       0
Name: (Liberia, Total Liberia), dtype: int64

In [203]:
idx_new_probable = np.where(variables == 'New Case/s (Probable)')[0].tolist()
lb_new_pro = df[('Liberia','Total Liberia')][idx_new_probable].fillna(0).astype(int)
lb_new_pro.tail(10)

Date        Variable
2014-11-29  New Case/s (Probable)       4
2014-11-30  New Case/s (Probable)       0
2014-12-01  New Case/s (Probable)       9
2014-12-02  New Case/s (Probable)      10
2014-12-03  New Case/s (Probable)       0
2014-12-04  New Case/s (Probable)    1800
2014-12-05  New Case/s (Probable)    1808
2014-12-06  New Case/s (Probable)    1810
2014-12-07  New Case/s (Probable)    1829
2014-12-08  New Case/s (Probable)    1805
Name: (Liberia, Total Liberia), dtype: int64

In [204]:
idx_tot_probable = np.where(variables == 'Total probable cases')[0].tolist()
lb_total_pro = df[('Liberia','Total Liberia')][idx_tot_probable].fillna(0).astype(int)
lb_total_pro.tail(10)

Date        Variable
2014-11-29  Total probable cases    1792
2014-11-30  Total probable cases    1779
2014-12-01  Total probable cases    1793
2014-12-02  Total probable cases    1809
2014-12-03  Total probable cases    1814
2014-12-04  Total probable cases       0
2014-12-05  Total probable cases       0
2014-12-06  Total probable cases       0
2014-12-07  Total probable cases       0
2014-12-08  Total probable cases       0
Name: (Liberia, Total Liberia), dtype: int64

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

In [68]:
# Write your answer here

MICRO_FOLDER=os.path.join(DATA_FOLDER, 'microbiome')
files=os.listdir(MICRO_FOLDER)

mb_df=pd.DataFrame()
meta_df=pd.DataFrame()
for file in files:
    if file == 'metadata.xls':
        meta_df = meta_df.append(pd.read_excel(os.path.join(MICRO_FOLDER, file),sheetname='Sheet1'), ignore_index=True)
    else:
        df=pd.read_excel(os.path.join(MICRO_FOLDER, file),sheetname='Sheet 1',header=None)
        df.columns=['Specimen', '#sequencing']
        df['BARCODE']=file.replace('.xls', '')
        mb_df = mb_df.append(df, ignore_index=True)
mb_df.head()

                                            Specimen  #sequencing BARCODE
0  Archaea "Crenarchaeota" Thermoprotei Desulfuro...            7    MID1
1  Archaea "Crenarchaeota" Thermoprotei Desulfuro...            2    MID1
2  Archaea "Crenarchaeota" Thermoprotei Sulfoloba...            3    MID1
3  Archaea "Crenarchaeota" Thermoprotei Thermopro...            3    MID1
4  Archaea "Euryarchaeota" "Methanomicrobia" Meth...            7    MID1

In [69]:
meta_df.tail()

  BARCODE      GROUP  SAMPLE
4    MID5  Control 2  tissue
5    MID6      NEC 1   stool
6    MID7  Control 1   stool
7    MID8      NEC 2   stool
8    MID9  Control 2   stool

In [70]:
final_df=pd.merge(mb_df, meta_df, how='outer')
final_df.head()

,Specimen,#sequencing,BARCODE,GROUP,SAMPLE
0,"Archaea ""Crenarchaeota"" Thermoprotei Desulfuro...",7,MID1,EXTRACTION CONTROL,NaN
1,"Archaea ""Crenarchaeota"" Thermoprotei Desulfuro...",2,MID1,EXTRACTION CONTROL,NaN
2,"Archaea ""Crenarchaeota"" Thermoprotei Sulfoloba...",3,MID1,EXTRACTION CONTROL,NaN
3,"Archaea ""Crenarchaeota"" Thermoprotei Thermopro...",3,MID1,EXTRACTION CONTROL,NaN
4,"Archaea ""Euryarchaeota"" ""Methanomicrobia"" Meth...",7,MID1,EXTRACTION CONTROL,NaN

In [71]:
final_df.set_index(['Specimen', 'GROUP', 'SAMPLE'], inplace=True)
print(final_df.index.is_unique)

True

In [72]:
final_df.tail()

,,,#sequencing,BARCODE
Specimen,GROUP,SAMPLE,,
"Bacteria ""Thermotogae"" Thermotogae Thermotogales Thermotogaceae Geotoga",Control 2,stool,43,MID9
"Bacteria ""Thermotogae"" Thermotogae Thermotogales Thermotogaceae Kosmotoga",Control 2,stool,16,MID9
"Bacteria ""Verrucomicrobia"" Opitutae Opitutales Opitutaceae Opitutus",Control 2,stool,1,MID9
Bacteria Cyanobacteria Cyanobacteria Chloroplast Chlorarachniophyceae,Control 2,stool,1,MID9
Bacteria Cyanobacteria Cyanobacteria Chloroplast Streptophyta,Control 2,stool,10,MID9

In [29]:
final_df=final_df.fillna('unknown')

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [ ]:
from IPython.core.display import HTML
HTML(filename=DATA_FOLDER+'/titanic.html')

titanic= pd.read_excel(os.path.join(DATA_FOLDER,'titanic.xls'),sheetname='titanic')

titanic

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`.

In [ ]:
# Write your answer here
titanic.columns
[titanic[col_name].unique() for col_name in titanic.columns]

In [ ]:
[titanic[col_name].dtype for col_name in titanic.columns]

In [ ]:
pd.Categorical(titanic['sex'])
titanic['sex'] = titanic['sex'].astype('category')
titanic['embarked'] = titanic['embarked'].astype('category')
titanic['pclass'] = titanic['pclass'].astype('category')
titanic['pclass'] = titanic['pclass'].cat.rename_categories(['First class','Second class','Third class'])
titanic['survived'] = titanic['survived'].astype('category')
titanic['survived'] = titanic['survived'].cat.rename_categories(['Died','Survived'])

In [ ]:
titanic['embarked'].value_counts().plot.pie(figsize=(4,4))

In [ ]:
titanic['sex'].value_counts().plot.pie(figsize=(4,4))

In [ ]:
titanic['pclass'].value_counts().plot.pie(figsize=(4,4))

In [ ]:
titanic['age'].hist(bins=10,range=(0,100),figsize=(4,4))

In [ ]:
titanic['floor'] = titanic['cabin'].str[0]
titanic['floor'] = titanic['floor'].astype('category')
titanic['floor'].value_counts().plot.pie(figsize=(4,4))

In [ ]:
[titanic.groupby(['survived','pclass']).size().unstack().plot.pie(subplots=True,figsize=(12,4))]

In [ ]:
titanic.groupby(['pclass','sex','survived']).size().unstack().plot.bar()

In [ ]:
titanic['age_category'] = titanic['age']>titanic['age'].median()
titanic['age_category'] = titanic['age_category'].astype('category')
titanic['age_category'] = titanic['age_category'].cat.rename_categories(['Young','Old'])

(titanic[titanic['survived'] == 'Survived'].groupby(['pclass','sex','age_category']).size().unstack())/titanic.groupby(['pclass','sex','age_category']).size().unstack()