# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average* per year of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

In [1]:
import os
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt

%matplotlib inline

DATA_FOLDER = os.path.join(os.path.dirname(os.getcwd()),'Homework1','02 - Intro to Pandas','Data') # Use the data folder provided in Tutorial 02 - Intro to Pandas.
EBOLA_FOLDER= os.path.join(DATA_FOLDER, 'ebola')

countries=['sl_data', 'guinea_data','liberia_data']

In [2]:
#Sierra Leone
sl='sl_data'
files=os.listdir(os.path.join(EBOLA_FOLDER, sl))
sl_df=pd.read_csv(os.path.join(EBOLA_FOLDER, sl,files[0]))        
for file in files[1:len(files)]:   
    sl_df = sl_df.append(pd.read_csv(os.path.join(EBOLA_FOLDER, sl, file)), ignore_index=True)

# convert to datetime format
sl_df['date'] = pd.to_datetime(sl_df['date'])
    
#change columns names data -> Date ,variable -> Variable
sl_df.rename(columns={'date': 'Date', 'variable': 'Variable', 'National': 'Total Sierra Leone'}, inplace=True)

#change order index Date, Variable, Country first
sl_df = sl_df.reindex_axis(['Date','Variable','Total Sierra Leone'] + list([a for a in sl_df.columns if a != 'Date' and a!= 'Variable' and a!= 'Total Sierra Leone']), axis=1)
sl_df = sl_df.set_index(['Date','Variable'])
sl_df = pd.concat([sl_df], axis=1, keys=['Sierra Leone'])

In [3]:
#Guinea
gn='guinea_data'
files=os.listdir(os.path.join(EBOLA_FOLDER, gn))
gn_df=pd.read_csv(os.path.join(EBOLA_FOLDER, gn,files[0]))           
for file in files[1:len(files)]:   
    gn_df = gn_df.append(pd.read_csv(os.path.join(EBOLA_FOLDER, gn, file)), ignore_index=True)

# convert to datetime format
gn_df['Date'] = pd.to_datetime(gn_df['Date'])

#change columns names data -> Date ,variable -> Variable
gn_df.rename(columns={'date': 'Date', 'Description': 'Variable', 'Totals':'Total Guinea'}, inplace=True)

#change order index Date, Variable, Country first
gn_df = gn_df.reindex_axis(['Date','Variable','Total Guinea'] + list([a for a in gn_df.columns if a != 'Date' and a!= 'Variable' and a!= 'Total Guinea']), axis=1)
gn_df = gn_df.set_index(['Date','Variable'])
gn_df = pd.concat([gn_df], axis=1, keys=['Guinea'])

In [4]:
#Liberia
lb='liberia_data'
files=os.listdir(os.path.join(EBOLA_FOLDER, lb))
lb_df=pd.read_csv(os.path.join(EBOLA_FOLDER, lb,files[0]))           
for file in files[1:len(files)]:   
    lb_df = lb_df.append(pd.read_csv(os.path.join(EBOLA_FOLDER, lb, file)), ignore_index=True)

# convert to datetime format
lb_df['Date'] = pd.to_datetime(lb_df['Date'])

#change columns names data -> Date ,variable -> Variable
lb_df.rename(columns={'date': 'Date', 'variable': 'Variable', 'National': 'Total Liberia'}, inplace=True)

#change order index Date, Variable, Country first
lb_df = lb_df.reindex_axis(['Date','Variable','Total Liberia'] + list([a for a in lb_df.columns if a != 'Date' and a!= 'Variable' and a!= 'Total Liberia']), axis=1)
lb_df = lb_df.set_index(['Date','Variable'])
lb_df = pd.concat([lb_df], axis=1, keys=['Liberia'])

In [84]:
df = pd.concat([sl_df, gn_df, lb_df], axis=0)
df.head(5)

                         Guinea                                               \
                          Beyla Boffa Conakry Coyah Dabola Dalaba Dinguiraye
Date       Variable
2014-08-12 population       NaN   NaN     NaN   NaN    NaN    NaN        NaN
           new_noncase      NaN   NaN     NaN   NaN    NaN    NaN        NaN
           new_suspected    NaN   NaN     NaN   NaN    NaN    NaN        NaN
           new_probable     NaN   NaN     NaN   NaN    NaN    NaN        NaN
           new_confirmed    NaN   NaN     NaN   NaN    NaN    NaN        NaN

                                                             ...          \
                         Dubreka Forecariah Gueckedou        ...
Date       Variable                                          ...
2014-08-12 population        NaN        NaN       NaN        ...
           new_noncase       NaN        NaN       NaN        ...
           new_suspected     NaN        NaN       NaN        ...
           new_probable      NaN        NaN       NaN        ...
           new_confirmed     NaN        NaN       NaN        ...

                                  Sierra Leone                              \
                         Police traning School Port Loko Pujehun Tonkolili
Date       Variable
2014-08-12 population                      NaN    557978  335574    434937
           new_noncase                     NaN         1       0         0
           new_suspected                   NaN         0       0         0
           new_probable                    NaN         0       0         0
           new_confirmed                   NaN         2       0         0

                                                                      \
                         Total Sierra Leone Unnamed: 18 Western area
Date       Variable
2014-08-12 population               6348350         NaN          NaN
           new_noncase                    4         NaN          NaN
           new_suspected                 10         NaN          NaN
           new_probable                   1         NaN          NaN
           new_confirmed                 11         NaN          NaN

                                                                   \
                         Western area combined Western area rural
Date       Variable
2014-08-12 population                      NaN             263619
           new_noncase                     NaN                  0
           new_suspected                   NaN                  0
           new_probable                    NaN                  0
           new_confirmed                   NaN                  0


                         Western area urban
Date       Variable
2014-08-12 population               1040888
           new_noncase                    0
           new_suspected                  0
           new_probable                   0
           new_confirmed                  0

[5 rows x 65 columns]

For now only the rows with the following names are used to calculation : new_confirmed, death_confirmed, New cases of confirmed, New deaths registered today (confirmed), New case/s (confirmed), Newly reported deaths. Since the names of the variables sometimes change overtime, this is not an accurate measure.

In [43]:
def get_days(series):
    if series.size == 1:
        return 1
    else:
        # calculate time length
        index_dates = series.index.values
        dates = np.array([row[0] for row in index_dates])
        time_length = dates[-1] - dates[0]
        n_days = time_length.days
        return n_days

In [44]:
# isolate dataframe variables
index = df.index.values
variables = np.array([row[1] for row in index])

# get index for specific variable occurence
idx_new_confirmed = np.where(variables == 'new_confirmed')[0].tolist()

# get values corresponding to selected index
sl_total_new = df[('Sierra Leone','Total Sierra Leone')][idx_new_confirmed].fillna(0).astype(int)

aug = sl_total_new.loc['2014-08-12':'2014-08-31']
n_days_aug = get_days(aug)
sep = sl_total_new.loc['2014-09-01':'2014-09-30']
n_days_sep = get_days(sep)
octo = sl_total_new.loc['2014-10-01':'2014-10-31']
n_days_octo = get_days(octo)
nov = sl_total_new.loc['2014-11-01':'2014-11-30']
n_days_nov = get_days(nov)
dec = sl_total_new.loc['2014-12-01':'2014-12-13']
n_days_dec = get_days(dec)

# calculate and print mean
print('Daily average of new cases in Sierra Leone in August of 2014 : ', aug.sum()/n_days_aug)
print('Daily average of new cases in Sierra Leone in September of 2014 : ', sep.sum()/n_days_sep)
print('Daily average of new cases in Sierra Leone in October of 2014 : ', octo.sum()/n_days_octo)
print('Daily average of new cases in Sierra Leone in November of 2014 : ', nov.sum()/n_days_nov)
print('Daily average of new cases in Sierra Leone in December of 2014 : ', dec.sum()/n_days_dec)

idx_death_confirmed = np.where(variables == 'death_confirmed')[0].tolist()
sl_total_death = df[('Sierra Leone','Total Sierra Leone')][idx_death_confirmed].fillna(0).astype(int)

aug = sl_total_death.loc['2014-08-12':'2014-08-31']
n_days_aug = get_days(aug)
sep = sl_total_death.loc['2014-09-01':'2014-09-30']
n_days_sep = get_days(sep)
octo = sl_total_death.loc['2014-10-01':'2014-10-31']
n_days_octo = get_days(octo)
nov = sl_total_death.loc['2014-11-01':'2014-11-30']
n_days_nov = get_days(nov)
dec = sl_total_death.loc['2014-12-01':'2014-12-13']
n_days_dec = get_days(dec)

print('Daily average of deaths in Sierra Leone in August of 2014 : ', aug.sum()/n_days_sep)
print('Daily average of deaths in Sierra Leone in September of 2014 : ', sep.sum()/n_days_sep)
print('Daily average of deaths in Sierra Leone in October of 2014 : ', octo.sum()/n_days_octo)
print('Daily average of deaths in Sierra Leone in November of 2014 : ', nov.sum()/n_days_nov)
print('Daily average of deaths in Sierra Leone : December of 2014', dec.sum()/n_days_dec)

Daily average of new cases in Sierra Leone in August of 2014 :  19.5263157895
Daily average of new cases in Sierra Leone in September of 2014 :  34.4137931034
Daily average of new cases in Sierra Leone in October of 2014 :  52.9333333333
Daily average of new cases in Sierra Leone in November of 2014 :  44.9285714286
Daily average of new cases in Sierra Leone in December of 2014 :  13.5833333333
Daily average of deaths in Sierra Leone in August of 2014 :  202.655172414
Daily average of deaths in Sierra Leone in September of 2014 :  443.310344828
Daily average of deaths in Sierra Leone in October of 2014 :  845.1
Daily average of deaths in Sierra Leone in November of 2014 :  842.178571429
Daily average of deaths in Sierra Leone : December of 2014 547.833333333

In [71]:
def get_diff_death(series):
    cum_death = series.values 
    diff_death = cum_death[1:len(cum_death)] - cum_death[0:len(cum_death)-1]
    neg_index = np.where(diff_death < 0)[0]
    if not neg_index:
        return diff_death
    else:    
        diff_death[neg_index[0]-1:len(diff_death)] = 0
        return diff_death

In [74]:
# calculate time length
index_dates = gn_df.index.values
dates = np.array([row[0] for row in index_dates])
time_length = dates[-1] - dates[0]
n_days = time_length.days

idx_nco_confirmed = np.where(variables == 'Total cases of confirmed')[0].tolist()
gn_total_new = df[('Guinea','Total Guinea')][idx_nco_confirmed].fillna(0).astype(int)

aug = gn_total_new.loc['2014-08-04':'2014-08-31']
n_days_aug = get_days(aug)
sep = gn_total_new.loc['2014-09-01':'2014-09-30']
n_days_sep = get_days(sep)
octo = gn_total_new.tail(1)
n_days_octo = get_days(octo)

print('Daily average of new cases in Guinea in August of 2014 : ', aug.sum()/n_days_aug)
print('Daily average of new cases in Guinea in September of 2014 : ', sep.sum()/n_days_sep)
print('Daily average of new cases in Guinea in October of 2014 : ', octo.sum()/n_days_octo)

idx_nco_death = np.where(variables == 'Total deaths of confirmed')[0].tolist()
gn_total_death = df[('Guinea','Total Guinea')][idx_nco_death].fillna(0).astype(int)

diff_death = get_diff_death(gn_total_death)

aug = gn_total_death.loc['2014-08-04':'2014-08-31']
n_days_aug = get_days(aug)
sep = gn_total_death.loc['2014-09-01':'2014-09-30']
n_days_sep = get_days(sep)
octo = gn_total_death.tail(1)
n_days_octo = get_days(octo)

diff_death_aug = get_diff_death(aug)
diff_death_sep = get_diff_death(sep)
diff_death_octo = get_diff_death(octo)

print('Daily average of deaths in Guinea in August of 2014 : ', diff_death_aug.sum()/n_days_aug)
print('Daily average of deaths in Guinea in September of 2014 : ', diff_death_sep.sum()/n_days_sep)
print('Daily average of deaths in Guinea in October of 2014 : ', diff_death_octo.sum()/n_days_octo)

Daily average of new cases in Guinea in August of 2014 :  90.2222222222
Daily average of new cases in Guinea in September of 2014 :  438.678571429
Daily average of new cases in Guinea in October of 2014 :  977.0
Daily average of deaths in Guinea in August of 2014 :  4.03703703704
Daily average of deaths in Guinea in September of 2014 :  4.71428571429
Daily average of deaths in Guinea in October of 2014 :  0.0

In [83]:
idx_nc_confirmed = np.where(variables == 'New case/s (confirmed)')[0].tolist()
lb_total_new = df[('Liberia','Total Liberia')][idx_nc_confirmed].fillna(0).astype(int)

jun = lb_total_new.loc['2014-06-16':'2014-06-29']
n_days_jun = get_days(jun)
jul = lb_total_new.loc['2014-07-01':'2014-07-26']
n_days_jul = get_days(jun)
aug = lb_total_new.loc['2014-08-12':'2014-08-31']
n_days_aug = get_days(aug)
sep = lb_total_new.loc['2014-09-01':'2014-09-30']
n_days_sep = get_days(sep)
octo = lb_total_new.loc['2014-10-01':'2014-10-31']
n_days_octo = get_days(octo)
nov = lb_total_new.loc['2014-11-01':'2014-11-30']
n_days_nov = get_days(nov)
dec = lb_total_new.loc['2014-12-01':'2014-12-09']
n_days_dec = get_days(dec)

# calculate and print mean
print('Daily average of new cases in Liberia in June of 2014 : ', jun.sum()/n_days_jun)
print('Daily average of new cases in Liberia in July of 2014 : ', jul.sum()/n_days_jul)
print('Daily average of new cases in Liberia in August of 2014 : ', aug.sum()/n_days_aug)
print('Daily average of new cases in Liberia in September of 2014 : ', sep.sum()/n_days_sep)
print('Daily average of new cases in Liberia in October of 2014 : ', octo.sum()/n_days_octo)
print('Daily average of new cases in Liberia in November of 2014 : ', nov.sum()/n_days_nov)

idx_nrd_confirmed = np.where(variables == 'Newly reported deaths')[0].tolist()
lb_total_death = df[('Liberia','Total Liberia')][idx_nrd_confirmed].fillna(0).astype(int)

jun = lb_total_death.loc['2014-06-16':'2014-06-29']
n_days_jun = get_days(jun)
jul = lb_total_death.loc['2014-07-01':'2014-07-26']
n_days_jul = get_days(jun)
aug = lb_total_death.loc['2014-08-12':'2014-08-31']
n_days_aug = get_days(aug)
sep = lb_total_death.loc['2014-09-01':'2014-09-30']
n_days_sep = get_days(sep)
octo = lb_total_death.loc['2014-10-01':'2014-10-31']
n_days_octo = get_days(octo)
nov = lb_total_death.loc['2014-11-01':'2014-11-30']
n_days_nov = get_days(nov)
dec = lb_total_death.loc['2014-12-01':'2014-12-09']
n_days_dec = get_days(dec)

# calculate and print mean
print('Daily average of death in Liberia in June of 2014 : ', jun.sum()/n_days_jun)
print('Daily average of death in Liberia in July of 2014 : ', jul.sum()/n_days_jul)
print('Daily average of death in Liberia in August of 2014 : ', aug.sum()/n_days_aug)
print('Daily average of death in Liberia in September of 2014 : ', sep.sum()/n_days_sep)
print('Daily average of death in Liberia in October of 2014 : ', octo.sum()/n_days_octo)
print('Daily average of death in Liberia in November of 2014 : ', nov.sum()/n_days_nov)

Daily average of new cases in Liberia in June of 2014 :  1.15384615385
Daily average of new cases in Liberia in July of 2014 :  1.53846153846
Daily average of new cases in Liberia in August of 2014 :  3.0
Daily average of new cases in Liberia in September of 2014 :  5.10344827586
Daily average of new cases in Liberia in October of 2014 :  1.13333333333
Daily average of new cases in Liberia in November of 2014 :  1.39285714286
Daily average of death in Liberia in June of 2014 :  1.07692307692
Daily average of death in Liberia in July of 2014 :  3.61538461538
Daily average of death in Liberia in August of 2014 :  11.8125
Daily average of death in Liberia in September of 2014 :  29.8275862069
Daily average of death in Liberia in October of 2014 :  23.3666666667
Daily average of death in Liberia in November of 2014 :  7.21428571429

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

In [ ]:
# Write your answer here

MICRO_FOLDER=os.path.join(DATA_FOLDER, 'microbiome')
files=os.listdir(MICRO_FOLDER)

mb_df=pd.DataFrame()
meta_df=pd.DataFrame()
for file in files:
    if file == 'metadata.xls':
        meta_df = meta_df.append(pd.read_excel(os.path.join(MICRO_FOLDER, file),sheetname='Sheet1'), ignore_index=True)
    else:
        df=pd.read_excel(os.path.join(MICRO_FOLDER, file),sheetname='Sheet 1',header=None)
        df.columns=['Specimen', '#sequencing']
        df['BARCODE']=file.replace('.xls', '')
        mb_df = mb_df.append(df, ignore_index=True)
mb_df.head()

In [ ]:
meta_df.tail()

In [ ]:
final_df=pd.merge(mb_df, meta_df, how='outer')
final_df.head()

In [ ]:
final_df.tail()

In [ ]:
final_df.index.is_unique

In [ ]:
final_df=final_df.fillna('unknown')

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [ ]:
from IPython.core.display import HTML
HTML(filename=DATA_FOLDER+'/titanic.html')

titanic= pd.read_excel(os.path.join(DATA_FOLDER,'titanic.xls'),sheetname='titanic')

titanic

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`.

In [ ]:
# Write your answer here
titanic.columns
[titanic[col_name].unique() for col_name in titanic.columns]

In [ ]:
[titanic[col_name].dtype for col_name in titanic.columns]

In [ ]:
pd.Categorical(titanic['sex'])
titanic['sex'] = titanic['sex'].astype('category')
titanic['embarked'] = titanic['embarked'].astype('category')
titanic['pclass'] = titanic['pclass'].astype('category')
titanic['pclass'] = titanic['pclass'].cat.rename_categories(['First class','Second class','Third class'])
titanic['survived'] = titanic['survived'].astype('category')
titanic['survived'] = titanic['survived'].cat.rename_categories(['Died','Survived'])

In [ ]:
titanic['embarked'].value_counts().plot.pie(figsize=(4,4))

In [ ]:
titanic['sex'].value_counts().plot.pie(figsize=(4,4))

In [ ]:
titanic['pclass'].value_counts().plot.pie(figsize=(4,4))

In [ ]:
titanic['age'].hist(bins=10,range=(0,100),figsize=(4,4))

In [ ]:
titanic['floor'] = titanic['cabin'].str[0]
titanic['floor'] = titanic['floor'].astype('category')
titanic['floor'].value_counts().plot.pie(figsize=(4,4))

In [ ]:
[titanic.groupby(['survived','pclass']).size().unstack().plot.pie(subplots=True,figsize=(12,4))]

In [ ]:
titanic.groupby(['pclass','sex','survived']).size().unstack().plot.bar()

In [ ]:
titanic['age_category'] = titanic['age']>titanic['age'].median()
titanic['age_category'] = titanic['age_category'].astype('category')
titanic['age_category'] = titanic['age_category'].cat.rename_categories(['Young','Old'])

(titanic[titanic['survived'] == 'Survived'].groupby(['pclass','sex','age_category']).size().unstack())/titanic.groupby(['pclass','sex','age_category']).size().unstack()