# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average* per year of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

In [ ]:
import os
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt

%matplotlib inline

DATA_FOLDER = os.path.join(os.path.dirname(os.getcwd()),'ADA2017-Tutorials-master','02 - Intro to Pandas','Data') # Use the data folder provided in Tutorial 02 - Intro to Pandas.
EBOLA_FOLDER= os.path.join(DATA_FOLDER, 'ebola')

countries=['sl_data', 'guinea_data','liberia_data']

In [ ]:
#Sierra Leone
sl='sl_data'
files=os.listdir(os.path.join(EBOLA_FOLDER, sl))
sl_df=pd.read_csv(os.path.join(EBOLA_FOLDER, sl,files[0]))        
for file in files[1:len(files)]:   
    sl_df = sl_df.append(pd.read_csv(os.path.join(EBOLA_FOLDER, sl, file)), ignore_index=True)

# convert to datetime format
sl_df['date'] = pd.to_datetime(sl_df['date'])
    
#change columns names data -> Date ,variable -> Variable
sl_df.rename(columns={'date': 'Date', 'variable': 'Variable', 'National': 'Total Sierra Leone'}, inplace=True)

#change order index Date, Variable, Country first
sl_df = sl_df.reindex_axis(['Date','Variable','Total Sierra Leone'] + list([a for a in sl_df.columns if a != 'Date' and a!= 'Variable' and a!= 'Total Sierra Leone']), axis=1)
sl_df = sl_df.set_index(['Date','Variable'])
sl_df = pd.concat([sl_df], axis=1, keys=['Sierra Leone'])

In [ ]:
#Guinea
gn='guinea_data'
files=os.listdir(os.path.join(EBOLA_FOLDER, gn))
gn_df=pd.read_csv(os.path.join(EBOLA_FOLDER, gn,files[0]))           
for file in files[1:len(files)]:   
    gn_df = gn_df.append(pd.read_csv(os.path.join(EBOLA_FOLDER, gn, file)), ignore_index=True)

# convert to datetime format
gn_df['Date'] = pd.to_datetime(gn_df['Date'])

#change columns names data -> Date ,variable -> Variable
gn_df.rename(columns={'date': 'Date', 'Description': 'Variable', 'Totals':'Total Guinea'}, inplace=True)

#change order index Date, Variable, Country first
gn_df = gn_df.reindex_axis(['Date','Variable','Total Guinea'] + list([a for a in gn_df.columns if a != 'Date' and a!= 'Variable' and a!= 'Total Guinea']), axis=1)
gn_df = gn_df.set_index(['Date','Variable'])
gn_df = pd.concat([gn_df], axis=1, keys=['Guinea'])

In [ ]:
#Liberia
lb='liberia_data'
files=os.listdir(os.path.join(EBOLA_FOLDER, lb))
lb_df=pd.read_csv(os.path.join(EBOLA_FOLDER, lb,files[0]))           
for file in files[1:len(files)]:   
    lb_df = lb_df.append(pd.read_csv(os.path.join(EBOLA_FOLDER, lb, file)), ignore_index=True)

# convert to datetime format
lb_df['Date'] = pd.to_datetime(lb_df['Date'])

#change columns names data -> Date ,variable -> Variable
lb_df.rename(columns={'date': 'Date', 'variable': 'Variable', 'National': 'Total Liberia'}, inplace=True)

#change order index Date, Variable, Country first
lb_df = lb_df.reindex_axis(['Date','Variable','Total Liberia'] + list([a for a in lb_df.columns if a != 'Date' and a!= 'Variable' and a!= 'Total Liberia']), axis=1)
lb_df = lb_df.set_index(['Date','Variable'])
lb_df = pd.concat([lb_df], axis=1, keys=['Liberia'])

In [ ]:
df = pd.concat([sl_df, gn_df, lb_df], axis=0)
df.head(5)

For now only the rows with the following names are used to calculation : new_confirmed, death_confirmed, New cases of confirmed, New deaths registered today (confirmed), New case/s (confirmed), Newly reported deaths. Since the names of the variables sometimes change overtime, this is not an accurate measure.

In [ ]:
def get_days(series):
    if series.size == 1:
        return 1
    else:
        # calculate time length
        index_dates = series.index.values
        dates = np.array([row[0] for row in index_dates])
        time_length = dates[-1] - dates[0]
        n_days = time_length.days
        return n_days

In [ ]:
# isolate dataframe variables
index = df.index.values
variables = np.array([row[1] for row in index])

# get index for specific variable occurence
idx_new_confirmed = np.where(variables == 'new_confirmed')[0].tolist()

# get values corresponding to selected index
sl_total_new = df[('Sierra Leone','Total Sierra Leone')][idx_new_confirmed].fillna(0).astype(int)

aug = sl_total_new.loc['2014-08-12':'2014-08-31']
n_days_aug = get_days(aug)
sep = sl_total_new.loc['2014-09-01':'2014-09-30']
n_days_sep = get_days(sep)
octo = sl_total_new.loc['2014-10-01':'2014-10-31']
n_days_octo = get_days(octo)
nov = sl_total_new.loc['2014-11-01':'2014-11-30']
n_days_nov = get_days(nov)
dec = sl_total_new.loc['2014-12-01':'2014-12-13']
n_days_dec = get_days(dec)

# calculate and print mean
print('Daily average of new cases in Sierra Leone in August of 2014 : ', aug.sum()/n_days_aug)
print('Daily average of new cases in Sierra Leone in September of 2014 : ', sep.sum()/n_days_sep)
print('Daily average of new cases in Sierra Leone in October of 2014 : ', octo.sum()/n_days_octo)
print('Daily average of new cases in Sierra Leone in November of 2014 : ', nov.sum()/n_days_nov)
print('Daily average of new cases in Sierra Leone in December of 2014 : ', dec.sum()/n_days_dec)

idx_death_confirmed = np.where(variables == 'death_confirmed')[0].tolist()
sl_total_death = df[('Sierra Leone','Total Sierra Leone')][idx_death_confirmed].fillna(0).astype(int)

aug = sl_total_death.loc['2014-08-12':'2014-08-31']
n_days_aug = get_days(aug)
sep = sl_total_death.loc['2014-09-01':'2014-09-30']
n_days_sep = get_days(sep)
octo = sl_total_death.loc['2014-10-01':'2014-10-31']
n_days_octo = get_days(octo)
nov = sl_total_death.loc['2014-11-01':'2014-11-30']
n_days_nov = get_days(nov)
dec = sl_total_death.loc['2014-12-01':'2014-12-13']
n_days_dec = get_days(dec)

print('Daily average of deaths in Sierra Leone in August of 2014 : ', aug.sum()/n_days_sep)
print('Daily average of deaths in Sierra Leone in September of 2014 : ', sep.sum()/n_days_sep)
print('Daily average of deaths in Sierra Leone in October of 2014 : ', octo.sum()/n_days_octo)
print('Daily average of deaths in Sierra Leone in November of 2014 : ', nov.sum()/n_days_nov)
print('Daily average of deaths in Sierra Leone : December of 2014', dec.sum()/n_days_dec)

In [ ]:
def get_diff_death(series):
    cum_death = series.values 
    diff_death = cum_death[1:len(cum_death)] - cum_death[0:len(cum_death)-1]
    neg_index = np.where(diff_death < 0)[0]
    if not neg_index:
        return diff_death
    else:    
        diff_death[neg_index[0]-1:len(diff_death)] = 0
        return diff_death

In [ ]:
# calculate time length
index_dates = gn_df.index.values
dates = np.array([row[0] for row in index_dates])
time_length = dates[-1] - dates[0]
n_days = time_length.days

idx_nco_confirmed = np.where(variables == 'Total cases of confirmed')[0].tolist()
gn_total_new = df[('Guinea','Total Guinea')][idx_nco_confirmed].fillna(0).astype(int)

aug = gn_total_new.loc['2014-08-04':'2014-08-31']
n_days_aug = get_days(aug)
sep = gn_total_new.loc['2014-09-01':'2014-09-30']
n_days_sep = get_days(sep)
octo = gn_total_new.tail(1)
n_days_octo = get_days(octo)

print('Daily average of new cases in Guinea in August of 2014 : ', aug.sum()/n_days_aug)
print('Daily average of new cases in Guinea in September of 2014 : ', sep.sum()/n_days_sep)
print('Daily average of new cases in Guinea in October of 2014 : ', octo.sum()/n_days_octo)

idx_nco_death = np.where(variables == 'Total deaths of confirmed')[0].tolist()
gn_total_death = df[('Guinea','Total Guinea')][idx_nco_death].fillna(0).astype(int)

diff_death = get_diff_death(gn_total_death)

aug = gn_total_death.loc['2014-08-04':'2014-08-31']
n_days_aug = get_days(aug)
sep = gn_total_death.loc['2014-09-01':'2014-09-30']
n_days_sep = get_days(sep)
octo = gn_total_death.tail(1)
n_days_octo = get_days(octo)

diff_death_aug = get_diff_death(aug)
diff_death_sep = get_diff_death(sep)
diff_death_octo = get_diff_death(octo)

print('Daily average of deaths in Guinea in August of 2014 : ', diff_death_aug.sum()/n_days_aug)
print('Daily average of deaths in Guinea in September of 2014 : ', diff_death_sep.sum()/n_days_sep)
print('Daily average of deaths in Guinea in October of 2014 : ', diff_death_octo.sum()/n_days_octo)

In [ ]:
idx_nc_confirmed = np.where(variables == 'New case/s (confirmed)')[0].tolist()
lb_total_new = df[('Liberia','Total Liberia')][idx_nc_confirmed].fillna(0).astype(int)

jun = lb_total_new.loc['2014-06-16':'2014-06-29']
n_days_jun = get_days(jun)
jul = lb_total_new.loc['2014-07-01':'2014-07-26']
n_days_jul = get_days(jun)
aug = lb_total_new.loc['2014-08-12':'2014-08-31']
n_days_aug = get_days(aug)
sep = lb_total_new.loc['2014-09-01':'2014-09-30']
n_days_sep = get_days(sep)
octo = lb_total_new.loc['2014-10-01':'2014-10-31']
n_days_octo = get_days(octo)
nov = lb_total_new.loc['2014-11-01':'2014-11-30']
n_days_nov = get_days(nov)
dec = lb_total_new.loc['2014-12-01':'2014-12-09']
n_days_dec = get_days(dec)

# calculate and print mean
print('Daily average of new cases in Liberia in June of 2014 : ', jun.sum()/n_days_jun)
print('Daily average of new cases in Liberia in July of 2014 : ', jul.sum()/n_days_jul)
print('Daily average of new cases in Liberia in August of 2014 : ', aug.sum()/n_days_aug)
print('Daily average of new cases in Liberia in September of 2014 : ', sep.sum()/n_days_sep)
print('Daily average of new cases in Liberia in October of 2014 : ', octo.sum()/n_days_octo)
print('Daily average of new cases in Liberia in November of 2014 : ', nov.sum()/n_days_nov)

idx_nrd_confirmed = np.where(variables == 'Newly reported deaths')[0].tolist()
lb_total_death = df[('Liberia','Total Liberia')][idx_nrd_confirmed].fillna(0).astype(int)

jun = lb_total_death.loc['2014-06-16':'2014-06-29']
n_days_jun = get_days(jun)
jul = lb_total_death.loc['2014-07-01':'2014-07-26']
n_days_jul = get_days(jun)
aug = lb_total_death.loc['2014-08-12':'2014-08-31']
n_days_aug = get_days(aug)
sep = lb_total_death.loc['2014-09-01':'2014-09-30']
n_days_sep = get_days(sep)
octo = lb_total_death.loc['2014-10-01':'2014-10-31']
n_days_octo = get_days(octo)
nov = lb_total_death.loc['2014-11-01':'2014-11-30']
n_days_nov = get_days(nov)
dec = lb_total_death.loc['2014-12-01':'2014-12-09']
n_days_dec = get_days(dec)

# calculate and print mean
print('Daily average of death in Liberia in June of 2014 : ', jun.sum()/n_days_jun)
print('Daily average of death in Liberia in July of 2014 : ', jul.sum()/n_days_jul)
print('Daily average of death in Liberia in August of 2014 : ', aug.sum()/n_days_aug)
print('Daily average of death in Liberia in September of 2014 : ', sep.sum()/n_days_sep)
print('Daily average of death in Liberia in October of 2014 : ', octo.sum()/n_days_octo)
print('Daily average of death in Liberia in November of 2014 : ', nov.sum()/n_days_nov)

In [ ]:
sl_values = sl_total_death.values
np.where(sl_values < 0)

In [ ]:
cum_death = gn_total_death.values 
diff_death = cum_death[1:len(cum_death)] - cum_death[0:len(cum_death)-1]
diff_death[len(diff_death)-2:len(diff_death)] = 0

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

In [ ]:
# Write your answer here

MICRO_FOLDER=os.path.join(DATA_FOLDER, 'microbiome')
files=os.listdir(MICRO_FOLDER)

mb_df=pd.DataFrame()
meta_df=pd.DataFrame()
for file in files:
    if file == 'metadata.xls':
        meta_df = meta_df.append(pd.read_excel(os.path.join(MICRO_FOLDER, file),sheetname='Sheet1'), ignore_index=True)
    else:
        df=pd.read_excel(os.path.join(MICRO_FOLDER, file),sheetname='Sheet 1',header=None)
        df.columns=['Specimen', '#sequencing']
        df['BARCODE']=file.replace('.xls', '')
        mb_df = mb_df.append(df, ignore_index=True)
mb_df.head()

In [ ]:
meta_df.tail()

In [ ]:
final_df=pd.merge(mb_df, meta_df, how='outer')
final_df.head()

In [ ]:
final_df.tail()

In [ ]:
final_df.index.is_unique

In [ ]:
final_df=final_df.fillna('unknown')

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [ ]:
from IPython.core.display import HTML
HTML(filename=DATA_FOLDER+'/titanic.html')
from IPython.display import display

titanic= pd.read_excel(os.path.join(DATA_FOLDER,'titanic.xls'),sheetname='titanic')

titanic

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`.

The first attribute is an integer that describe the class where the passenger belonged, it can be transformed into a category object since there is a limited number of possibilities.

In [ ]:
display(titanic['pclass'].dtype)
titanic['pclass'] = titanic['pclass'].astype('category')
titanic['pclass'] = titanic['pclass'].cat.rename_categories(['First class','Second class','Third class'])
display(titanic['pclass'].value_counts())

The second attribute is an integer that describe if the passenger has survived or not. It can also be turned into a categorical object.

In [ ]:
display(titanic['survived'].dtype)
titanic['survived'] = titanic['survived'].astype('category')
titanic['survived'] = titanic['survived'].cat.rename_categories(['Died','Survived'])
display(titanic['survived'].value_counts())

The third argument is the name of the passenger. It can't be described as a category and we can't calculate its range since it is a series of string.

The fourth argument is the sex of the passenger, it is a string but it can be described as a categry since there are only two different possibilities.

In [ ]:
titanic['sex'] = titanic['sex'].astype('category')
display(titanic['sex'].value_counts())

The fifth argument is a float that describe the age of the passenger (in full years for adults and in year fraction corresponding to the number of month for children). The minimum is two month and the maximum is 80 years.

In [ ]:
display(titanic['age'].dtype)
display( [titanic['age'].min(),titanic['age'].max()])

The sixth and seventh arguments are integer decribing the number of siblings (or spouse) and the number of parents (or children) on the boat. The range is 0 to 8 for the first argument, and 0 to 9 for the second.

In [ ]:
display(titanic['sibsp'].dtype)
display(titanic['parch'].dtype)

display( [titanic['sibsp'].min(),titanic['sibsp'].max()])
display( [titanic['parch'].min(),titanic['parch'].max()])

The eighth argument is the ticket number of the passengers, it is a series of string, with a mix between letters and digits, therefore we can't define any range, and there is too much different arguments to define it as a category.

The ninth aregument is the fare of ech passenger, it is a float number between 0 and 512.33.

In [ ]:
display(titanic['fare'].dtype)
display( [titanic['fare'].min(),titanic['fare'].max()])

The tenth argument is the cabin of the passenger, ita string that mix the name of the floor label, with a cabin number, therefore we can't define any range nor any category, since there are too many different possibilities.

The eleventh argument is a character describing the harbour where the passenger embarked into the ship ( S for Southhampton, C for Cherbourg and Q for Queenstown), It can be described as a category, since there are only three possibilities.

In [ ]:
titanic['embarked'] = titanic['embarked'].astype('category')
titanic['embarked'] = titanic['embarked'].cat.rename_categories(['Cherbourg','Queenstown','Southampton'])
display(titanic['embarked'].value_counts())

The twelfth argument is a string describing the boat where the surviving passengers were found. Some are described with a number, some with a letter, some with a mix of multiple number or letter, therefore we can't define any ranger nor transform it into categries.

The thirteenth argument is a float number describing the weight of the passenger's body (for the dead persons whose bodies has been found). It varies from 1 to 328.

In [ ]:
display(titanic['body'].dtype)

display( [titanic['body'].min(),titanic['body'].max()])

The last argument is a string describing the home and/or the destination of the passenger. IT can't be described as category since there are too many possibilies.

In [ ]:
titanic['embarked'].value_counts().plot.bar(figsize=(4,4),title='Boarding harbour')

In [ ]:
titanic['sex'].value_counts().plot.bar(figsize=(4,4),title='Sex of the passengers')

In [ ]:
titanic['pclass'].value_counts().plot.bar(figsize=(4,4),title='Class of the passengers')

In [ ]:
titanic['age'].plot(kind='hist',bins=10,range=(0,100),figsize=(4,4),title='Age distribution')

For the cabin floor, we considered the first character of the string describing the cabin. Sometimes two floor letters where defined for a single cabin, so we only considered the first one.

In [ ]:
titanic['floor'] = titanic['cabin'].str[0]
titanic['floor'] = titanic['floor'].astype('category')
titanic['floor'].value_counts().plot.pie(figsize=(4,4),title='Number of passenger per floor')

In [ ]:
[titanic.groupby(['survived','pclass']).size().unstack().plot.pie(subplots=True,figsize=(12,4),title='Proportion of dead people per class')]

In [ ]:
titanic.groupby(['pclass','sex','survived']).size().unstack().plot.bar(title='Proportion of dead people per class and sex')

For the distinction between old and young, we checked if the passenger's age were superior to the median age (28 years)

In [ ]:
titanic['age_category'] = titanic['age']>titanic['age'].median()
titanic['age_category'] = titanic['age_category'].astype('category')
titanic['age_category'] = titanic['age_category'].cat.rename_categories(['Young','Old'])

(titanic[titanic['survived'] == 'Survived'].groupby(['pclass','sex','age_category']).size().unstack())/titanic.groupby(['pclass','sex','age_category']).size().unstack()