# 02 - Data from the Web

## Deadline
Wednesday October 25, 2017 at 11:59PM

## Important Notes
* Make sure you push on GitHub your Notebook with all the cells already evaluated (i.e., you don't want your colleagues to generate unnecessary Web traffic during the peer review)
* Don't forget to add a textual description of your thought process, the assumptions you made, and the solution you plan to implement!
* Please write all your comments in English, and use meaningful variable names in your code.

## Background
In this homework we will extract interesting information from www.topuniversities.com and www.timeshighereducation.com, two platforms that maintain a global ranking of worldwide universities. This ranking is not offered as a downloadable dataset, so you will have to find a way to scrape the information we need!
You are not allowed to download manually the entire ranking -- rather you have to understand how the server loads it in your browser. For this task, Postman with the Interceptor extension can help you greatly. We recommend that you watch this [brief tutorial](https://www.youtube.com/watch?v=jBjXVrS8nXs&list=PLM-7VG-sgbtD8qBnGeQM5nvlpqB_ktaLZ&autoplay=1) to understand quickly how to use it.

## Assignment
* Obtain the 200 top-ranking universities in www.topuniversities.com ([ranking 2018](https://www.topuniversities.com/university-rankings/world-university-rankings/2018)). In particular, extract the following fields for each university: name, rank, country and region, number of faculty members (international and total) and number of students (international and total). Some information is not available in the main list and you have to find them in the [details page](https://www.topuniversities.com/universities/ecole-polytechnique-fÃ©dÃ©rale-de-lausanne-epfl).Store the resulting dataset in a pandas DataFrame and answer the following questions:
  * Which are the best universities in term of: (a) ratio between faculty members and students, (b) ratio of international students?

  * Answer the previous question aggregating the data by (c) country and (d) region.

  Plot your data using bar charts and describe briefly what you observed.

In [48]:
# Import libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd 
import json

# get name, rank, country and region of the 200 first universities
url='https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508005996450'
universities= requests.get(url).json()['data'][0:200]
df=pd.DataFrame(universities)
df = df.drop(['cc','core_id','guide', 'logo','score','stars','nid'], axis=1)

#list of urls to universities pages
urls =list(df['url'])

# function to get the rest of the needed information on each university page in a dictionnary
def get_details(url):
    university= requests.get('https://www.topuniversities.com' + url)
    soup= BeautifulSoup(university.text,'html.parser')
    data= soup.find_all('div', class_= 'faculty-main')
    df.head()

    # number of faculty members international
    if(soup.find_all('div', class_ = 'inter faculty') != []):
        inter_fac_mem = soup.find_all('div', class_ = 'inter faculty')[0].find_all('div', class_ = 'number')[0].string
    else:
        inter_fac_mem = float('nan')
        
    # number of faculty members total
    if(soup.find_all('div', class_ = 'total faculty')!= []):
        total_fac_mem = soup.find_all('div', class_ = 'total faculty')[0].find_all('div', class_ = 'number')[0].string
    else:
        total_fac_mem = float('nan')
        
    # number of students international
    if(soup.find_all('div', class_ = 'total inter')!= []):
        inter_student = soup.find_all('div', class_ = 'total inter')[0].find_all('div', class_ = 'number')[0].string
    else:
        inter_student = float('nan')
        
    # number of students total
    if(soup.find_all('div', class_ = 'total student')!= []):
        total_student = soup.find_all('div', class_ = 'total student')[0].find_all('div', class_ = 'number')[0].string
    else:
        total_student = float('nan')

    details = {'url' : url, '#faculty members international (QS)' : inter_fac_mem,
          '#faculty members total (QS)' : total_fac_mem,
          '#students international (QS)': inter_student,
          '#students total (QS)' : total_student}
    return details

#list of dictionnaries 
details = []    
for url in urls:
    details.append(get_details(url))
#convert to pd.DataFrame
df2 = pd.DataFrame(details)

#merge the two dataframes with the url
df_qs= pd.merge(df, df2, 'outer')
df_qs.rename(columns={'rank_display': 'QS rank', 'title': 'name'}, inplace=True)
df_qs = df_qs.drop('url', axis=1)

,country,QS rank,region,name,#faculty members international (QS),#faculty members total (QS),#students international (QS),#students total (QS)
0,United States,1,North America,Massachusetts Institute of Technology (MIT),"1,679","2,982","3,717","11,067"
1,United States,2,North America,Stanford University,"2,042","4,285","3,611","15,878"
2,United States,3,North America,Harvard University,"1,311","4,350","5,266","22,429"
3,United States,4,North America,California Institute of Technology (Caltech),350,953,647,"2,255"
4,United Kingdom,5,Europe,University of Cambridge,"2,278","5,490","6,699","18,770"
5,United Kingdom,6,Europe,University of Oxford,"2,964","6,750","7,353","19,720"
6,United Kingdom,7,Europe,UCL (University College London),"2,554","6,345","14,854","31,080"
7,United Kingdom,8,Europe,Imperial College London,"2,071","3,930","8,746","16,090"
8,United States,9,North America,University of Chicago,635,"2,449","3,379","13,557"
9,Switzerland,10,Europe,ETH Zurich - Swiss Federal Institute of Techno...,"1,886","2,477","7,563","19,815"
10,Singapore,11,Asia,"Nanyang Technological University, Singapore (NTU)","2,993","4,338","7,251","25,738"
11,Switzerland,12,Europe,Ecole Polytechnique Fédérale de Lausanne (EPFL),"1,300","1,695","5,896","10,343"
12,United States,13,North America,Princeton University,246,"1,007","1,793","8,069"
13,United States,14,North America,Cornell University,970,"2,718","5,411","21,904"
14,Singapore,15,Asia,National University of Singapore (NUS),"3,086","5,106","8,917","32,728"
15,United States,16,North America,Yale University,"1,708","4,940","2,469","12,402"
16,United States,17,North America,Johns Hopkins University,"1,061","4,462","4,105","16,146"
17,United States,18,North America,Columbia University,913,"6,189","8,105","25,045"
18,United States,19,North America,University of Pennsylvania,"1,383","5,499","4,250","20,639"
19,Australia,20,Oceania,The Australian National University,927,"1,600","5,551","14,442"
20,United States,=21,North America,Duke University,226,"2,938","2,864","15,320"
21,United States,=21,North America,University of Michigan,"1,920","6,809","7,527","43,147"
22,United Kingdom,=23,Europe,King's College London,"1,513","3,650","9,451","23,780"
23,United Kingdom,=23,Europe,The University of Edinburgh,"1,553","4,075","10,551","28,040"
24,China,25,Asia,Tsinghua University,932,"5,506","4,072","36,300"
25,Hong Kong,26,Asia,The University of Hong Kong,"2,085","3,012","8,230","20,214"
26,United States,27,North America,"University of California, Berkeley (UCB)","1,395","3,321","6,086","36,703"
27,United States,=28,North America,Northwestern University,"1,141","4,231","3,422","18,675"
28,Japan,=28,Asia,The University of Tokyo,254,"4,514","2,639","27,279"
29,Hong Kong,30,Asia,The Hong Kong University of Science and Techno...,835,"1,150","2,921","10,375"
30,Canada,31,North America,University of Toronto,"3,905","9,581","21,910","72,207"
31,Canada,32,North America,McGill University,"1,220","3,646","9,540","28,837"
32,United States,33,North America,"University of California, Los Angeles (UCLA)",662,"2,859","6,887","40,114"
33,United Kingdom,34,Europe,The University of Manchester,"1,653","4,910","13,514","36,670"
34,United Kingdom,35,Europe,London School of Economics and Political Scien...,687,"1,088","6,748","9,760"
35,Japan,=36,Asia,Kyoto University,293,"4,060","1,990","22,974"
36,South Korea,=36,Asia,Seoul National University,433,"3,930","2,331","28,064"
37,China,=38,Asia,Peking University,"1,038","5,185","7,090","42,136"
38,United States,=38,North America,"University of California, San Diego (UCSD)",870,"3,694","6,644","32,237"
39,China,40,Asia,Fudan University,"1,178","4,037","4,680","29,135"
40,South Korea,=41,Asia,KAIST - Korea Advanced Institute of Science & ...,147,"1,250",584,"9,826"
41,Australia,=41,Oceania,The University of Melbourne,"1,477","3,311","18,030","42,182"
42,France,43,Europe,"Ecole normale supérieure, Paris",75,178,374,"1,907"
43,United Kingdom,44,Europe,University of Bristol,942,"2,870","5,099","20,630"
44,Australia,45,Oceania,The University of New South Wales (UNSW Sydney),"1,612","2,924","14,292","39,784"
45,Hong Kong,46,Asia,The Chinese University of Hong Kong (CUHK),"1,074","2,208","4,824","18,037"
46,Australia,=47,Oceania,The University of Queensland,"1,870","3,158","10,420","37,497"
47,United States,=47,North America,Carnegie Mellon University,425,"1,342","6,385","13,356"
48,Hong Kong,49,Asia,City University of Hong Kong,"1,027","1,349","3,273","9,240"
49,Australia,50,Oceania,The University of Sydney,"1,829","3,360","17,030","46,678"

* Obtain the 200 top-ranking universities in www.timeshighereducation.com ([ranking 2018](http://timeshighereducation.com/world-university-rankings/2018/world-ranking)). Repeat the analysis of the previous point and discuss briefly what you observed.

* Merge the two DataFrames created in questions 1 and 2 using university names. Match universities' names as well as you can, and explain your strategy. Keep track of the original position in both rankings.

* Find useful insights in the data by performing an exploratory analysis. Can you find a strong correlation between any pair of variables in the dataset you just created? Example: when a university is strong in its international dimension, can you observe a consistency both for students and faculty members?

* Can you find the best university taking in consideration both rankings? Explain your approach.

Hints:
- Keep your Notebook clean and don't print the verbose output of the requests if this does not add useful information for the reader.
- In case of tie, use the order defined in the webpage.

In [ ]:
# Import libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [41]:

url='https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json'

json_dict= requests.get(url).json()
raw_data = pd.DataFrame(json_dict['data'])
raw_data.columns
data=raw_data[['name','rank','stats_number_students','stats_pc_intl_students','stats_student_staff_ratio']]
data

,name,rank,stats_number_students,stats_pc_intl_students,stats_student_staff_ratio
0,University of Oxford,1,"20,409",38%,11.2
1,University of Cambridge,2,"18,389",35%,10.9
2,California Institute of Technology,=3,"2,209",27%,6.5
3,Stanford University,=3,"15,845",22%,7.5
4,Massachusetts Institute of Technology,5,"11,177",34%,8.7
5,Harvard University,6,"20,326",26%,8.9
6,Princeton University,7,"7,955",24%,8.3
7,Imperial College London,8,"15,857",55%,11.4
8,University of Chicago,9,"13,525",25%,6.2
9,ETH Zurich – Swiss Federal Institute of Techno...,=10,"19,233",38%,14.6
10,University of Pennsylvania,=10,"20,361",20%,6.5
11,Yale University,12,"12,155",21%,4.3
12,Johns Hopkins University,13,"15,498",24%,4.3
13,Columbia University,14,"26,587",32%,6.1
14,"University of California, Los Angeles",15,"39,279",17%,9.6
15,University College London,16,"30,304",49%,10.5
16,Duke University,17,"15,256",22%,4.5
17,"University of California, Berkeley",18,"36,182",17%,13.1
18,Cornell University,19,"21,850",24%,9.8
19,Northwestern University,20,"17,466",18%,12.8
20,University of Michigan,21,"41,818",16%,8.6
21,National University of Singapore,=22,"30,602",30%,17.0
22,University of Toronto,=22,"69,427",17%,18.7
23,Carnegie Mellon University,24,"12,676",45%,13.5
24,London School of Economics and Political Science,=25,"10,065",71%,12.2
25,University of Washington,=25,"44,945",16%,11.4
26,University of Edinburgh,=27,"26,759",40%,12.5
27,New York University,=27,"43,860",26%,9.6
28,Peking University,=27,"42,136",16%,8.9
29,Tsinghua University,30,"42,089",9%,13.7
...,...,...,...,...,...
1072,Sathyabama University,1001+,"17,861",1%,22.1
1073,Sechenov University,1001+,"16,128",10%,9.0
1074,Shanghai Maritime University,1001+,"23,552",3%,18.8
1075,Shibaura Institute of Technology Tokyo,1001+,"9,911",4%,17.7
1076,Siberian Federal University,1001+,"28,008",1%,11.3
1077,Sidi Mohamed Ben Abdellah University,1001+,"82,558",2%,58.3
1078,University of the Sinos Valley,1001+,"14,412",1%,20.9
1079,Sofia University,1001+,"23,956",4%,13.7
1080,Southwest Jiaotong University,1001+,"40,819",2%,15.3
1081,SRM University,1001+,"42,886",2%,15.3
1082,State University of Maringá,1001+,"23,341",1%,14.1
1083,State University of Western Paraná (Unioeste),1001+,"10,791",0%,5.0
1084,Tamil Nadu Agricultural University,1001+,"5,780",0%,7.1
1085,Tamkang University,1001+,"27,060",6%,24.0
1086,Technical University of Liberec,1001+,"6,129",9%,12.1
1087,Tokyo City University,1001+,"7,904",1%,15.6
1088,Tokyo Denki University,1001+,"9,400",2%,25.7
1089,Tottori University,1001+,"6,165",2%,8.0
1090,Toyo University,1001+,"30,142",1%,33.5
1091,University of Tunis El Manar,1001+,"30,301",1%,16.7
1092,Ural Federal University,1001+,"24,917",7%,9.8
1093,Universiti Utara Malaysia,1001+,"14,315",18%,13.0
1094,Utsunomiya University,1001+,"4,928",4%,14.5
1095,"University of Veterinary and Animal Sciences, ...",1001+,"5,003",0%,28.6
1096,V.N. Karazin Kharkiv National University,1001+,"16,067",27%,9.8
1097,Volgograd State Technical University,1001+,"9,254",6%,12.0
1098,Voronezh State University,1001+,"15,468",9%,10.1
1099,Yazd University,1001+,"13,600",0%,23.9
1100,Yeditepe University,1001+,"23,260",1%,25.1
1101,University of Zanjan,1001+,"10,305",0%,25.8